<div class="contentsWrap">
  <div class="container01" style="margin-top: 35px;">
      <div class="web_container">
          <!-- header -->
          <div class="pop_header">
              <h1>Deposit Money</h1>
              <button type="button" tabindex=-1 class="btn_popclose" (click)="close()"><span>close</span></button>
          </div>
          <!-- //header -->
          <div class="web_Wrap">

            <kendo-stepper
                        [steps]="stepsIcons"
                        [stepType]="'full'"
                        class="ONTesting defualt-font"
                        (activate)="onStepActivate($event)"
                        [(currentStep)]="currentStep">
            </kendo-stepper>

            <div class="form-row">
              <div class="form-group col-md-6">
                  <label class="font-khmer-cursive">{{'Account.Label.firstName' | translate}}</label>
                  <span class="text-danger">*</span>
                  <input  type="text" [ngClass]="firstName? 'active-input' : ''" class=" form-control font-khmer-cursive" [(ngModel)]="firstName" placeholder="{{'Account.Holder.enterFirstName' | translate}}">

                  <div class="in_box">
                      <button type="button" [ngClass]="currenctAccount? 'btn_del' : ''" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                  </div>
                  <div *ngIf="firstName === '' || firstName === null">
                    <small class="text-danger">{{'Account.Message.firstNameRequired' | translate}}</small>
                  </div>

              </div>
              <div class="form-group col-md-6">
                  <label class="font-khmer-cursive">{{'Account.Label.lastName' | translate}}</label>
                  <span class="text-danger">*</span>
                  <input type="text" [ngClass]="lastName? 'active-input' : ''" class="form-control font-khmer-cursive" [(ngModel)]="lastName" placeholder="{{'Account.Holder.enterLastName' | translate}}">

                  <div class="in_box">
                      <button type="button" [ngClass]="lastName? 'btn_del' : ''" (click)="onClickBtnMainCategoryName()" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                  </div>
                  <div *ngIf="lastName === '' || lastName === null">
                    <small class="text-danger">{{'Account.Message.lastNameRequired' | translate}}</small>
                  </div>

              </div>
            </div>

            <div class="form-row">

              <div class="form-group col-md-6">
                  <label class="font-khmer-cursive">{{'Account.Label.gender' | translate}}</label>
                  <span class="text-danger">*</span>
                  <kendo-dropdownlist [data]="accounts" [filterable]="true" [textField]="'accountName'" [valueField]="'id'" [kendoDropDownFilter]="filterSettings" [popupSettings]="{ popupClass: 'search_filter_pop' }" [(ngModel)]="account" [ngModelOptions]="{standalone:
                    true}" [defaultItem]="defaultAccount">
                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                            <span class="template font-khmer-cursive">{{ dataItem.accountId}} - {{ dataItem.accountName}}</span>
                        </ng-template>
                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                            <span class="template font-khmer-cursive">{{ dataItem.accountId}} - {{ dataItem.accountName}}</span>
                        </ng-template>
                  </kendo-dropdownlist>

                  <div *ngIf="firstName === '' || firstName === null">
                    <small class="text-danger">{{'Account.Message.genderRequired' | translate}}</small>
                  </div>
              </div>

              <div class="form-group col-md-6">
                  <label class="font-khmer-cursive">{{'Account.Label.dateBirth' | translate}}</label>
                  <span class="text-danger">*</span>
                  <kendo-datepicker [format]="'dd/MM/yyyy'" [topView]="'year'" [navigation]="false" [value]="dateBirth" required>
                  </kendo-datepicker>
                  <div class="in_box">
                      <button type="button" [ngClass]="lastName? 'btn_del' : ''" (click)="onClickBtnMainCategoryName()" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                  </div>
                  <div *ngIf="lastName === '' || lastName === null">
                    <small class="text-danger">{{'Account.Message.dateBirthRequired' | translate}}</small>
                  </div>

              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                  <label class="font-khmer-cursive">Your Currenct Account</label>
                  <input disabled  type="text" [ngClass]="currenctAccount? 'active-input' : ''" class="disable-01 form-control font-khmer-cursive" [(ngModel)]="currenctAccount" placeholder="{{'RegiPro.Holder.Enter_Product_Name' | translate}}">

                  <!-- <div class="in_box">
                      <button type="button" [ngClass]="currenctAccount? 'btn_del' : ''" (click)="onClickBtnMainCategoryName()" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                  </div> -->
              </div>
              <div class="form-group col-md-6">
                  <label class="font-khmer-cursive">Your Currenct Account Name</label>
                  <input disabled type="text" [ngClass]="currenctAccountName? 'active-input' : ''" class="disable-01 form-control font-khmer-cursive" [(ngModel)]="currenctAccountName" placeholder="{{'RegiPro.Holder.Enter_Product_Name' | translate}}">

                  <!-- <div class="in_box">
                      <button type="button" [ngClass]="currenctAccountName? 'btn_del' : ''" (click)="onClickBtnMainCategoryName()" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                  </div> -->

              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="font-khmer-cursive">To Account</label>
                <kendo-dropdownlist [data]="accounts" [filterable]="true" [textField]="'accountName'" [valueField]="'id'" [kendoDropDownFilter]="filterSettings" [popupSettings]="{ popupClass: 'search_filter_pop' }" [(ngModel)]="account" [ngModelOptions]="{standalone:
                  true}" [defaultItem]="defaultAccount">
                      <ng-template kendoDropDownListValueTemplate let-dataItem>
                          <span class="template font-khmer-cursive">{{ dataItem.accountId}} - {{ dataItem.accountName}}</span>
                      </ng-template>
                      <ng-template kendoDropDownListItemTemplate let-dataItem>
                          <span class="template font-khmer-cursive">{{ dataItem.accountId}} - {{ dataItem.accountName}}</span>
                      </ng-template>
                </kendo-dropdownlist>
              </div>
              <div class="form-group col-md-6">
                  <label class="font-khmer-cursive">Amount</label>
                  <input type="text" [ngClass]="amount? 'active-input' : ''" class=" form-control font-khmer-cursive" [(ngModel)]="amount" placeholder="{{'RegiPro.Holder.Enter_Product_Name' | translate}}">

                  <!-- <div class="in_box">
                      <button type="button" [ngClass]="currenctAccountName? 'btn_del' : ''" (click)="onClickBtnMainCategoryName()" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                  </div> -->

              </div>
            </div>

              <div class="form-row">
                  <div class="form-group col-md-12">
                      <label>Remark</label>
                      <input type="text" [ngClass]="categoryName? 'active-input' : ''" class="form-control" [(ngModel)]="categoryName" placeholder="{{'Common.Holder.EnterRemark' | translate}}">

                      <div class="in_box">
                          <button type="button" [ngClass]="categoryName? 'btn_del' : ''" (click)="onClickBtnMainCategoryName()" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                      </div>

                  </div>
              </div>


          </div>

          <div class="width-100p float-right right-0">
            <span class="page width-100p float-right right-0 text-align-right">Steps {{ currentStep + 1 }} of 4</span>

            <div class="float-right right-0">

                <button class="k-button btn-w100px-h35px font-khmer-cursive btn-add-00 margin-right-15px" *ngIf="currentStep !== 0" (click)="prev()">
                    <i class="fas fa-arrow-circle-left font-size-20px"></i>
                    <span class="margin-left-5px">{{'Common.Button.Previous' | translate}}</span>
                </button>

                <button class="k-button btn-w100px-h35px font-khmer-cursive btn-add-00" (click)="next(currentStep)" *ngIf="currentStep !== 1">
                    <i class="fas fa-arrow-circle-right font-size-20px"></i>
                    <span class="margin-left-5px">{{'Common.Button.Next' | translate}}</span>
                </button>

            </div>

        </div>

      </div>


      <div class="c_btn">

          <button (click)="close()" class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [look]="'outline'">
              <span class="k-icon k-i-close-circle k-i-x-circle margin-top-1px font-size-20px"></span>
              <span class="font-weigh-700 margin-left-5px">Close</span>
          </button>

          <button  class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [look]="'outline'">
              <span class="k-icon k-i-download margin-top-1px font-size-20px"></span>
              <span class="font-weigh-700 margin-left-5px">Save</span>
          </button>

      </div>
  </div>
</div>
