<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
      <div class="row">
          <div class="col-sm-12">
              <h3 class="page-title">Profile</h3>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                  <li class="breadcrumb-item active">Profile</li>
              </ul>
          </div>
      </div>
  </div>
  <!-- /Page Header -->

  <div class="card mb-0">
      <div class="card-body">
          <div class="row">
              <div class="col-md-12">
                  <div class="profile-view">
                      <div class="profile-img-wrap">
                          <div class="profile-img">
                              <a>
                                <ngx-avatar size="100" [name]="imageName"
                                  [src]="src">
                                </ngx-avatar>
                              </a>
                          </div>
                      </div>
                      <div class="profile-basic">
                          <div class="row">
                              <div class="col-md-5">
                                  <div class="profile-info-left" style="height: 150px;">
                                      <h3 class="user-name m-t-0 mb-0">{{userInfo.firstName}} {{userInfo.lastName}}</h3>
                                      <h6 class="text-muted">
                                        <div class="text" [innerHTML] = "account.accountType | accountType"> </div>
                                        <!-- UI/UX Design Team -->
                                      </h6>
                                      <!-- <small class="text-muted">Web Designer</small> -->
                                      <div class="staff-id">User ID : {{userInfo.id}}</div>
                                      <div class="small doj text-muted">Date of Join : {{userInfo.createDate | dateFormat}}</div>
                                      <div class="small doj text-muted"></div>
                                      <!-- <div class="staff-msg">
                                        <a class="btn btn-custom" routerLink="/apps/chat">Send Message</a>
                                      </div> -->
                                  </div>
                              </div>
                              <div class="col-md-7">
                                  <ul class="personal-info">

                                      <li>
                                          <div class="title">Phone:</div>
                                          <div class="text"><a href="">{{userInfo.phoneNumber}}</a></div>
                                      </li>
                                      <li>
                                          <div class="title">Email:</div>
                                          <div class="text"><a href="">{{userInfo.userName}}</a></div>
                                      </li>
                                      <li>
                                          <div class="title">Birthday:</div>
                                          <div class="text">{{userInfo.dateBirth | dateFormat}}</div>
                                      </li>
                                      <li>
                                          <div class="title">Address:</div>

                                          <ng-container *ngIf = "userInfo.address">
                                            <div class="text">{{userInfo.address}}</div>
                                          </ng-container>
                                          <ng-container *ngIf = "!userInfo.address">
                                            <div class="text">NA</div>
                                          </ng-container>

                                      </li>
                                      <li>
                                          <div class="title">Gender:</div>
                                          <div class="text"> {{userInfo.gender | gender}}</div>
                                      </li>
                                      <!-- <li>
                                          <div class="title">Reports to:</div>
                                          <div class="text">
                                              <div class="avatar-box">
                                                  <div class="avatar avatar-xs">
                                                      <img src="assets/img/profiles/avatar-016.jpg" alt="">
                                                  </div>
                                              </div>
                                              <a routerLink="/employees/employeeprofile">
                                                  Jeffery Lalor
                                              </a>
                                          </div>
                                      </li> -->
                                  </ul>
                              </div>
                          </div>
                      </div>

                      <div class="pro-edit">
                        <a class="edit-icon" href="javascript:" (click)="profileEdit()">
                          <i class="fa fa-pencil"></i>
                        </a>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="tab-content">
    <div id="emp_profile" class="pro-overview tab-pane fade show active">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="card profile-box flex-fill" style="min-height: 210px;">
              <div class="card-body">
                  <h3 class="card-title">Account Information
                    <a class="edit-icon" href="javascript:" (click)="AccountInfoEdit()">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </h3>
                  <ul class="personal-info">
                      <li>
                          <div class="title">Account Name.</div>
                          <div class="text">{{account.accountName}}</div>
                      </li>
                      <li>
                          <div class="title">Acccount ID</div>
                          <div class="text">{{account.accountID | account}}</div>
                      </li>
                      <li>
                          <div class="title">Account Balance</div>
                          <div class="text"><a href="">{{account.accountBalance | accountBalance: account.currency }} {{account.currency}}</a></div>
                      </li>
                      <li>
                          <div class="title">Account Status</div>
                          <div class="text" [innerHTML] = "account.status | accountStatus"></div>
                      </li>
                      <li>
                          <div class="title">Account Type</div>
                          <div class="text"[innerHTML] = "account.accountType | accountType" ></div>
                      </li>

                      <!-- <li>
                          <div class="title">Marital status</div>
                          <div class="text">Married</div>
                      </li>
                      <li>
                          <div class="title">Employment of spouse</div>
                          <div class="text">No</div>
                      </li>
                      <li>
                          <div class="title">No. of children</div>
                          <div class="text">2</div>
                      </li> -->

                  </ul>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

</div>
<!-- /Page Content -->

