<div class="contentsWrap">
  <div class="container01" style="margin-top: 35px;">
    <div class="web_container">

      <!-- header -->
      <div class="pop_header">
        <h1>
          {{'Account.Label.CreateNewSeniarAccount' | translate}}
        </h1>
        <button type="button" tabindex=-1 class="btn_popclose" (click)="close()"><span>close</span></button>
      </div>
      <!-- //header -->


      <div class="web_Wrap">

        <div class="row">
          <div class="col-md-12 d-flex">
            <div class="card profile-box flex-fill">
                <div class="card-body">
                    <h3 class="card-title">User Information
                    </h3>
                    <h5 class="section-title">Primary</h5>
                    <ul class="personal-info">
                        <li>
                            <div class="title">User Name</div>
                            <div class="text">{{dataInfo.userName}}</div>
                        </li>
                        <li>
                            <div class="title">Password</div>
                            <div class="text">{{dataInfo.password}}</div>
                        </li>

                    </ul>
                    <hr>
                    <h3 class="card-title">Account Information</h3>
                    <h5 class="section-title">Secondary</h5>
                    <ul class="personal-info">
                        <li>
                            <div class="title">Account Name</div>
                            <div class="text">{{dataInfo.accountName}}</div>
                        </li>
                        <li>
                            <div class="title">Account ID</div>
                            <div class="text">{{dataInfo.accountID | account}}</div>
                        </li>

                    </ul>
                </div>
            </div>
          </div>
        </div>

      </div>


    </div>

    <div class="c_btn">

      <button (click)="close()" class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [look]="'outline'">
          <span class="k-icon k-i-close-circle k-i-x-circle margin-top-1px font-size-20px"></span>
          <span class="font-weigh-700 margin-left-5px">{{'Common.Button.Close' | translate}}</span>
      </button>

  </div>

  </div>
</div>
