<div class="contentsWrap">
  <div class="container01" style="margin-top: 35px;">
      <div class="web_container">
          <!-- header -->
          <div class="pop_header">
              <h1>Deposit Money</h1>
              <button type="button" class="btn_popclose" (click)="close()"><span>close</span></button>
          </div>
          <!-- //header -->
          <div class="web_Wrap">

            <form [formGroup]="form">
              <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="font-khmer-cursive">
                      {{'Account.Label.YourAccount' | translate}}
                      <span class="text-danger">*</span>
                    </label>
                    <input formControlName="yourAccount"  type="text" [ngClass]="form.getRawValue().yourAccount? 'active-input' : ''" class="disable-01 form-control font-khmer-cursive" >
                </div>
                <div class="form-group col-md-6">
                    <label class="font-khmer-cursive">
                      {{'Account.Label.ToAccount' | translate}}
                      <span class="text-danger">*</span>
                    </label>
                    <input formControlName="toAccount" type="text" [ngClass]="form.getRawValue().toAccount? 'active-input' : ''" class="disable-01 form-control font-khmer-cursive">

                </div>
              </div>


              <div class="form-row">

                <div class="form-group col-md-6">
                    <label class="font-khmer-cursive">Amount</label>
                    <span class="text-danger">*</span>
                    <input #amount formControlName="amount" type="number" [ngClass]="form.getRawValue().amount? 'active-input' : ''" class=" form-control font-khmer-cursive" placeholder="{{'Common.Holder.EnterAmount' | translate}}">

                    <div class="in_box">
                        <button (click)="isEmpty('amount')" type="button" [ngClass]="form.getRawValue().amount? 'btn_del' : ''" class="btn" ></button>
                    </div>
                    <div *ngIf="submitted && f.amount.errors">
                      <small class="text-danger">{{'Account.Message.AmountRequire' | translate}}</small>
                    </div>

                    <div *ngIf="submitted && !f.amount.errors && thanZero">
                      <small class="text-danger">{{'Account.Message.AmountOverZero' | translate}}</small>
                    </div>

                </div>

                <div class="form-group col-md-6">
                  <label>{{'Common.Label.Remark' | translate}}</label>
                  <input formControlName="remark" type="text" [ngClass]="form.getRawValue().remark? 'active-input' : ''" class="form-control" placeholder="{{'Common.Holder.EnterRemark' | translate}}">

                  <div class="in_box">
                      <button (click)="isEmpty('remark')" type="button" [ngClass]="form.getRawValue().remark? 'btn_del' : ''" class="btn" ></button>
                  </div>

                </div>

                </div>

            </form>


          </div>

      </div>


      <div class="c_btn">

          <button (click)="close()" class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [look]="'outline'">
              <span class="k-icon k-i-close-circle k-i-x-circle margin-top-1px font-size-20px"></span>
              <span class="font-weigh-700 margin-left-5px">Close</span>
          </button>

          <button (click)="save()" class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [look]="'outline'">
              <span class="k-icon k-i-download margin-top-1px font-size-20px"></span>
              <span class="font-weigh-700 margin-left-5px">Save</span>
          </button>

      </div>

  </div>
</div>
