<div class="contentsWrap">
  <div class="container01" style="margin-top: 35px;">

    <div class="web_container">

        <!-- header -->
        <div class="pop_header">
          <h1>
            {{'Account.Label.ResetPassword' | translate}}

          </h1>
          <button type="button" tabindex=-1 class="btn_popclose" (click)="close()"><span>close</span></button>
        </div>
        <!-- //header -->

        <div class="web_Wrap">

          <form [formGroup]="form">

            <div class="form-row row">
              <div class="form-group col-md-12">
                  <label class="font-khmer-cursive">{{'Account.Label.UserName' | translate}}</label>
                  <span class="text-danger">*</span>
                  <input #userName type="text" formControlName="userName" [ngClass]="form.getRawValue().userName? 'active-input' : ''" class=" form-control font-khmer-cursive disable-01" placeholder="{{'Account.Holder.EnterUserName' | translate}}">

              </div>
            </div>

            <div class="form-row row">
              <div class="form-group col-md-6">
                  <label class="font-khmer-cursive">{{'Account.Label.Password' | translate}}</label>
                  <span class="text-danger">*</span>
                  <input #password type="password" formControlName="password" [ngClass]="form.getRawValue().userName? 'active-input' : ''" class=" form-control font-khmer-cursive" placeholder="{{'Account.Holder.EnterPassword' | translate}}">

                  <div class="in_box">
                    <button type="button" [ngClass]="form.getRawValue().password? 'btn_del' : ''" (click)="isEmpty('password')"  class="btn"></button>
                </div>

                <ng-container *ngIf="submitted && f.password.errors">
                  <small class="text-danger font-weight-700">{{'Account.Message.PasswordRequired' | translate}}</small>
                </ng-container>

              </div>

              <div class="form-group col-md-6">
                  <label class="font-khmer-cursive">{{'Account.Label.ConfirmPassword' | translate}}</label>
                  <span class="text-danger">*</span>
                  <input #confirmPassword formControlName="confirmPassword" type="password" [ngClass]="form.getRawValue().lastName? 'active-input' : ''" class="form-control font-khmer-cursive" placeholder="{{'Account.Holder.EnterConfirmPassword' | translate}}">

                  <div class="in_box">
                      <button type="button" [ngClass]="form.getRawValue().confirmPassword? 'btn_del' : ''" (click)="isEmpty('confirmPassword')"  class="btn"></button>
                  </div>

                  <ng-container *ngIf="submitted && f.confirmPassword.errors">
                    <small class="text-danger font-weight-700">{{'Account.Message.ConfirmPasswordRequired' | translate}}</small>
                  </ng-container>

              </div>
            </div>

          </form>
        </div>

    </div>

    <div class="c_btn">

      <button (click)="close()" class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [look]="'outline'">
          <span class="k-icon k-i-close-circle k-i-x-circle margin-top-1px font-size-20px"></span>
          <span class="font-weigh-700 margin-left-5px">{{'Common.Button.Close' | translate}}</span>
      </button>

      <button (click)="save()" class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [look]="'outline'">
          <span class="k-icon k-i-download margin-top-1px font-size-20px"></span>
          <span class="font-weigh-700 margin-left-5px">{{'Common.Button.Save' | translate}}</span>
      </button>

    </div>


  </div>
</div>
