<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
      <div class="row align-items-center">
          <div class="col">
              <h3 class="page-title">{{'Account.Label.account' | translate}}</h3>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="javascript:">{{'Account.Label.account' | translate}}</a></li>
                  <!-- <li class="breadcrumb-item active">Account</li> -->
              </ul>
          </div>
          <div class="col-auto float-right ml-auto" style="margin-right: 10px;" (click)="newAccount()">
            <button  class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [look]="'outline'" style="width: 200px;">
              <span class="k-icon k-i-plus-circle margin-top-1px font-size-20px"></span>
              <span class="font-weigh-700 margin-left-5px">{{'Account.Label.newSeniarAccount' | translate}}</span>
            </button>

              <!-- <a class="btn add-btn" data-toggle="modal" data-target="#add_overtime">
                <i class="fa fa-plus"></i>
                Add Overtime
              </a> -->
          </div>
      </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
      <div class="col-md-12">
          <div class="table-responsive custom-table-select">
              <table datatable [dtOptions]="dtOptions"
                  class="table table-striped custom-table mb-0 datatable">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>{{'Account.Label.accountID' | translate}}</th>
                          <th>{{'Account.Label.accountName' | translate}}</th>
                          <th class="text-center" width = "150px">{{'Account.Label.accountType' | translate}}</th>
                          <th class="text-center" width = "150px">{{'Account.Label.accountBalance' | translate}}</th>
                          <th class="text-center">{{'Common.Label.status' | translate}}</th>
                          <th class="text-right">{{'Common.Label.action' | translate}}</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of accountDisplay;let i = index;">
                          <td>{{i + 1}}</td>
                          <td>{{item.accountId | account}}</td>
                          <td>{{item.accountName}}</td>
                          <td class="text-center">
                            <div [innerHTML] = 'item.accountType | accountType'>
                            </div>
                          </td>
                          <td class="text-center">{{item.accountBalace}} {{item.currency}}</td>
                          <td class="text-center" style="width: 90px;">
                            <div [innerHTML] = 'item.status | accountStatus'>
                            </div>
                          </td>
                          <td class="text-right" style="width: 100px;">
                              <div class="dropdown dropdown-action" >
                                  <a class="action-icon dropdown-toggle cursor-pointer" data-toggle="dropdown" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-right" style="width: 160px;">
                                      <a (click)="setting(item)" class="dropdown-item" href="javascript:">
                                        <i class="la la-cog font-size-1-50rem"></i>
                                        {{'Common.Label.setting' | translate}}
                                      </a>

                                      <a class="dropdown-item" href="javascript:" (click)="deposit(item)">
                                        <i class="pi pi-wallet font-size-1-50rem"></i>
                                        {{'Common.Label.depositMoney' | translate}}
                                      </a>

                                      <a class="dropdown-item" href="javascript:" (click)="withdrawal(item)">
                                        <i class="pi pi-wallet font-size-1-50rem"></i>
                                        {{'Common.Label.withDrawalMoney' | translate}}
                                      </a>

                                      <a class="dropdown-item cursor-pointer" href="javascript:" (click)="details(item)">
                                        <i class="pi pi-info-circle font-size-1-50rem"></i>
                                        {{'Common.Label.details' | translate}}
                                      </a>

                                      <a class="dropdown-item cursor-pointer" data-toggle="modal" data-target="#delete_overtime" (click)="onSeniar(item)">
                                        <i class="pi pi-users font-size-1-50rem"></i>
                                        {{'Account.Label.subSeniarAccount' | translate}}
                                      </a>

                                  </div>
                              </div>
                          </td>

                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
<!-- /Page Content -->
