<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
      <div class="row align-items-center">
          <div class="col">
              <h3 class="page-title">{{'Account.Label.Account' | translate}}</h3>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/acc/">{{'Account.Label.Account' | translate}}</a></li>
                  <li class="breadcrumb-item active">{{'Account.Label.SubAccount' | translate}}</li>
              </ul>
          </div>
      </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-md-6 d-flex">
      <div class="card profile-box flex-fill">
          <div class="card-body">
              <h3 class="card-title">{{'MyAccount.Label.AccountInformation' | translate}}</h3>
              <ul class="personal-info">
                  <li>
                      <div class="title">{{'Account.Label.AccountName' | translate}}</div>
                      <div class="text">{{accountInfo.accountName}}</div>
                  </li>
                  <li>
                      <div class="title">{{'Account.Label.AccountID' | translate}}</div>
                      <div class="text">{{accountInfo.accountId | account}}</div>
                  </li>
                  <li>
                      <div class="title">{{'Account.Label.AccountBalance' | translate}}</div>
                      <div class="text">{{accountInfo.accountBalance}} {{accountInfo.currency}}</div>
                  </li>
                  <li>
                    <div class="title">{{'Account.Label.AccountType' | translate}}</div>
                    <div class="text" [innerHTML] = "accountInfo.accountType | accountType"></div>
                </li>

              </ul>
          </div>
      </div>
    </div>
  </div>

  <!-- On Tab -->
  <div class="card tab-box">
    <div class="row user-tabs">
        <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
            <ul class="nav nav-tabs nav-tabs-bottom">
                <li class="nav-item">
                  <a (click)="onTab(0)" [ngClass]="{ 'active' : activeTab.index === 0 }" href="javascript:" data-toggle="tab" class="nav-link">{{'Common.Label.Master' | translate}}</a>
                </li>

                <li class="nav-item">
                  <a (click)="onTab(1)" [ngClass]="{ 'active' : activeTab.index === 1 }" href="javascript:" data-toggle="tab" class="nav-link">{{'Common.Label.Agent' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
  <!-- /On Tab -->

  <ng-container *ngIf = "activeTab.index === 0">
    <div class="row">
      <div class="col-auto float-right ml-auto" style="margin-right: 10px; width: 100%;" (click)="newAccount()" >
        <button  class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [look]="'outline'" style="width: 200px; float: right;margin-right: 9px;">
          <span class="k-icon k-i-plus-circle margin-top-1px font-size-20px"></span>
          <span class="font-weigh-700 margin-left-5px">{{'Common.Label.NewMasterAccount' | translate}}</span>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <div class="table-responsive custom-table-select">
              <table datatable [dtOptions]="dtOptions"
                  class="table table-striped custom-table mb-0 datatable">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>{{'Account.Label.AccountID' | translate}}</th>
                          <th>{{'Account.Label.AccountName' | translate}}</th>
                          <th class="text-center">{{'Account.Label.AccountType' | translate}}</th>
                          <th class="text-center">{{'Account.Label.AccountBalance' | translate}}</th>
                          <th class="text-center">{{'Common.Label.Status' | translate}}</th>
                          <th class="text-right">{{'Common.Label.Action' | translate}}</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of accountDisplays;let i = index;">
                          <td>{{i + 1}}</td>
                          <td>{{item.accountId | account}}</td>
                          <td>{{item.accountName}}</td>
                          <td class="text-center" [innerHTML] = "item.accountType | accountType"></td>
                          <td class="text-center">{{item.accountBalance}} {{item.currency}}</td>
                          <td class="text-center" style="width: 90px;" [innerHTML] = "item.status | accountStatus"></td>
                          <td class="text-right" style="width: 100px;">
                              <div class="dropdown dropdown-action" >
                                  <a class="action-icon dropdown-toggle cursor-pointer" data-toggle="dropdown" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-right" style="width: 160px;">


                                      <ng-container *ngIf = "accountInfoMain.accountType === 'seni'">

                                        <a (click)="setting(item)" class="dropdown-item" href="javascript:">
                                          <i class="fa fa-pencil m-r-5"></i>
                                          {{'Common.Label.Setting' | translate}}
                                        </a>

                                        <a class="dropdown-item" href="javascript:" (click)="deposit(item)">
                                          <i class="fa fa-pencil m-r-5"></i>
                                          {{'Common.Label.DepositMoney' | translate}}
                                        </a>

                                        <a class="dropdown-item" href="javascript:" (click)="withdrawal(item)">
                                          <i class="fa fa-pencil m-r-5"></i>
                                          {{'Common.Label.WithDrawalMoney' | translate}}
                                        </a>

                                        <a class="dropdown-item" href="javascript:" (click)="details(item)">
                                          <i class="fa fa-trash-o m-r-5"></i>
                                          {{'Common.Label.Details' | translate}}
                                        </a>

                                      </ng-container>

                                      <a href="javascript:" class="dropdown-item" (click)="onSubAccountRouter(item)">
                                        <i class="fa fa-trash-o m-r-5"></i>
                                        {{'Account.Label.SubMasterAccount' | translate}}
                                      </a>


                                  </div>
                              </div>
                          </td>

                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  </ng-container>

  <ng-container *ngIf = "activeTab.index === 1">

    <div class="row">
      <div class="col-auto float-right ml-auto" style="margin-right: 10px; width: 100%;" (click)="newAccount()" >
        <button  class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [look]="'outline'" style="width: 200px; float: right;margin-right: 9px;">
          <span class="k-icon k-i-plus-circle margin-top-1px font-size-20px"></span>
          <span class="font-weigh-700 margin-left-5px">{{'Account.Label.NewAgentAccount' | translate}}</span>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <div class="table-responsive custom-table-select">
              <table datatable [dtOptions]="dtOptions"
                  class="table table-striped custom-table mb-0 datatable">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>{{'Account.Label.AccountID' | translate}}</th>
                          <th>{{'Account.Label.AccountName' | translate}}</th>
                          <th class="text-center">{{'Account.Label.AccountType' | translate}}</th>
                          <th class="text-center">{{'Account.Label.AccountBalance' | translate}}</th>
                          <th class="text-center">{{'Common.Label.Status' | translate}}</th>
                          <th class="text-right">{{'Common.Label.Action' | translate}}</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of accountDisplays;let i = index;">
                          <td>{{i + 1}}</td>
                          <td>{{item.accountId | account}}</td>
                          <td>{{item.accountName}}</td>
                          <td class="text-center" [innerHTML] = "item.accountType | accountType"></td>
                          <td class="text-center">{{item.accountBalance}} {{item.currency}}</td>
                          <td class="text-center" style="width: 90px;" [innerHTML] = "item.status | accountStatus"></td>
                          <td class="text-right" style="width: 100px;">
                              <div class="dropdown dropdown-action">
                                  <a class="action-icon dropdown-toggle cursor-pointer" data-toggle="dropdown" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-right" style="width: 160px;">
                                    <ng-container *ngIf = "accountInfoMain.accountType === 'seni'">
                                      <a (click)="setting(item)" class="dropdown-item" href="javascript:">
                                        <i class="fa fa-pencil m-r-5"></i>
                                        {{'Common.Label.Setting' | translate}}
                                      </a>

                                      <a class="dropdown-item" href="javascript:" (click)="deposit(item)">
                                        <i class="fa fa-pencil m-r-5"></i>
                                        {{'Common.Label.DepositMoney' | translate}}
                                      </a>

                                      <a class="dropdown-item" href="javascript:" (click)="withdrawal(item)">
                                        <i class="fa fa-pencil m-r-5"></i>
                                        {{'Common.Label.WithDrawalMoney' | translate}}
                                      </a>

                                      <a class="dropdown-item" href="javascript:" (click)="details(item)">
                                        <i class="fa fa-trash-o m-r-5"></i>
                                        {{'Common.Label.Details' | translate}}
                                      </a>
                                    </ng-container>


                                    <a href="javascript:" class="dropdown-item" (click)="onSubAccountRouter(item)">
                                      <i class="fa fa-trash-o m-r-5"></i>
                                      {{'Account.Label.SubAgentAccount' | translate}}
                                    </a>

                                  </div>
                              </div>
                          </td>

                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  </ng-container>

</div>
<!-- /Page Content -->
