<!-- Page Content -->
<div class="content container-fluid">
  <div class="row">
      <div class="col-md-8 offset-md-2">

          <!-- Page Header -->
          <div class="page-header">
              <div class="row">
                  <div class="col-sm-12">
                      <h3 class="page-title">{{'Account.Label.AccountSettings' | translate}}</h3>
                  </div>
              </div>
          </div>
          <!-- /Page Header -->

          <form [formGroup]="form">
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label class="font-khmer-cursive">
                    {{'Account.Label.AccountID' | translate}}
                    <span class="text-danger">*</span>
                  </label>
                  <input formControlName="accountID"  type="text" [ngClass]="form.getRawValue().accountID? 'active-input' : ''" class="disable-01 form-control font-khmer-cursive"  placeholder="{{'Account.Holder.EnterAccountID' | translate}}">
              </div>
              <div class="form-group col-md-6">
                  <label class="font-khmer-cursive">
                    {{'Account.Label.AccountName' | translate}}
                    <span class="text-danger">*</span>
                  </label>
                  <input #accountName formControlName="accountName" type="text" [ngClass]="form.getRawValue().accountName? 'active-input' : ''" class=" form-control font-khmer-cursive" placeholder="{{'Account.Holder.EnterAccountName' | translate}}">
                  <div class="in_box">
                    <button (click)="isEmpty('accountName')" type="button" [ngClass]="form.getRawValue().accountName? 'btn_del' : ''" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                  </div>

                  <div *ngIf="submitted && f.accountName.errors">
                    <small class="text-danger">{{'Account.Message.AccountNameRequired' | translate}}</small>
                  </div>
              </div>
            </div>


            <div class="form-row">
              <div class="form-group col-md-6">
                  <label class="font-khmer-cursive">
                    {{'Account.Label.AccountBalance' | translate}}
                    <span class="text-danger">*</span>
                  </label>
                  <input formControlName="accountBalace" type="text" [ngClass]="form.getRawValue().accountBalace? 'active-input' : ''" class="disable-01 form-control font-khmer-cursive" placeholder="{{'Account.Holder.EnterAccountBalance' | translate}}">
              </div>

              <div class="form-group col-md-6">
                  <label class="font-khmer-cursive">
                    {{'Account.Label.AccountStatus' | translate}}
                    <span class="text-danger">*</span>
                  </label>
                  <kendo-dropdownlist (valueChange)="onChangeStatus($event)" [data]="accountStatus" [filterable]="true" [textField]="'text'" [valueField]="'value'" [kendoDropDownFilter]="filterSettings" [popupSettings]="{ popupClass: 'search_filter_pop' }" [(ngModel)]="status" [ngModelOptions]="{standalone:
                    true}" [defaultItem]="defaultAccountStatus">
                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                            <span class="template font-khmer-cursive">{{ dataItem.text}}</span>
                        </ng-template>
                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                            <span class="template font-khmer-cursive">{{ dataItem.text}}</span>
                        </ng-template>
                    </kendo-dropdownlist>
                    <div *ngIf="otherStatus === true">
                      <small class="text-danger"> {{'Account.Message.AccountStatusRequired' | translate}}</small>
                    </div>
              </div>
            </div>


            <div class="form-row">
              <div class="form-group col-md-12">
                <label class="font-khmer-cursive">{{'Common.Label.Remark' | translate}}</label>
                <input formControlName="remark" type="text" [ngClass]="form.getRawValue().remark? 'active-input' : ''" class="form-control font-khmer-cursive" placeholder="{{'Common.Holder.EnterRemark' | translate}}">

                <div class="in_box">
                    <button (click)="isEmpty('remark')" type="button" [ngClass]="form.getRawValue().remark? 'btn_del' : ''"  class="btn"></button>
                </div>
              </div>
            </div>

          </form>

          <div class="submit-section">
            <button (click)="save()" class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [look]="'outline'" style="width: 150px;">
              <span class="k-icon k-i-download margin-top-1px font-size-20px"></span>
              <span class="font-weigh-700 margin-left-5px">{{'Common.Button.Save' | translate}}</span>
            </button>
          </div>
      </div>
  </div>
</div>
<!-- /Page Content -->
