<div class="account-content">
  <a routerLink = "/login/joblist" class="btn btn-primary apply-btn">Apply Job</a>
  <div class="container">

      <!-- Account Logo -->
      <div class="account-logo">
          <a href="javascript:"><img src="assets/img/logo2.png" alt="Dreamguy's Technologies"></a>
      </div>
      <!-- /Account Logo -->

      <div class="account-box">
          <div class="account-wrapper">
              <h3 class="account-title">Login</h3>
              <p class="account-subtitle">Access to our dashboard</p>

              <!-- Account Form -->
              <form>
                  <div class="form-group">
                      <label>Email Address</label>
                      <input class="form-control" type="text">
                      <div class="in_box">
                        <button (click)="isEmpty('u')" type="button" [ngClass]="userName? 'btn_del' : ''" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                      </div>

                      <div *ngIf="userName === '' || userName === null">
                        <small class="text-danger"> *Account Name is required</small>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="row">
                          <div class="col">
                              <label>Password</label>
                          </div>

                      </div>
                      <input class="form-control" type="password">
                  </div>
                  <div class="form-group text-center">
                    <!-- <button  class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [look]="'outline'" style="width: 200px;">
                      <span class="k-icon k-i-plus-circle margin-top-1px font-size-20px"></span>
                      <span class="font-weigh-700 margin-left-5px">{{'Account.Label.newSeniarAccount' | translate}}</span>
                    </button> -->

                      <button class="btn btn-primary account-btn" type="button" (click)="routors()">Login</button>
                  </div>

              </form>
              <!-- /Account Form -->

          </div>
      </div>
  </div>
</div>
