<div class="account-content">
  <a routerLink = "/login/joblist" class="btn btn-primary apply-btn">Apply Job</a>
  <div class="container">

      <!-- Account Logo -->
      <div class="account-logo">
          <a href="javascript:"><img src="assets/img/logo2.png" alt="Dreamguy's Technologies"></a>
      </div>
      <!-- /Account Logo -->

      <div class="account-box">
          <div class="account-wrapper">
              <h3 class="account-title">Login</h3>
              <p class="account-subtitle">Access to our dashboard</p>

              <!-- Account Form -->
              <form>
                  <div class="form-group">
                      <label>Email Address</label>
                      <input class="form-control" type="text">
                      <div class="in_box">
                        <button (click)="isEmpty('u')" type="button" [ngClass]="userName? 'btn_del' : ''" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                      </div>

                      <div *ngIf="userName === '' || userName === null">
                        <small class="text-danger"> *Account Name is required</small>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="row">
                          <div class="col">
                              <label>Password</label>
                          </div>
                          <div class="col-auto">
                              <a class="text-muted" routerLink = "/login/forgot">
                                  Forgot password?
                              </a>
                          </div>
                      </div>
                      <input class="form-control" type="password">
                  </div>
                  <div class="form-group text-center">
                      <button class="btn btn-primary account-btn" type="button" (click)="routors()">Login</button>
                  </div>
                  <div class="account-footer">
                      <p>Don't have an account yet? <a routerLink = "/login/register">Register</a></p>
                  </div>
              </form>
              <!-- /Account Form -->

          </div>
      </div>
  </div>
</div>
