<!-- Page Content -->
<div class="content container-fluid" style="padding-top: 0px;">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">{{'MyAccount.Label.myAccount' | translate}}</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">{{'Common.Label.dashboard' | translate}}</a></li>
                <li class="breadcrumb-item active">{{'MyAccount.Label.myAccount' | translate}}</li>
            </ul>
        </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-md-6 d-flex">
      <div class="card profile-box flex-fill">
          <div class="card-body">
              <h3 class="card-title">{{'MyAccount.Label.accountInformation' | translate}}</h3>
              <ul class="personal-info">
                  <li>
                      <div class="title">{{'Account.Label.accountName' | translate}}</div>
                      <div class="text">{{accountInfo.accountName}}</div>
                  </li>
                  <li>
                      <div class="title">{{'Account.Label.accountID' | translate}}</div>
                      <div class="text">{{accountInfo.accountId | account}}</div>
                  </li>
                  <li>
                      <div class="title">{{'Account.Label.accountBalance' | translate}}</div>
                      <div class="text">{{accountInfo.accountBalance | accountBalance: accountInfo.currency }} {{accountInfo.currency}}</div>
                  </li>

                  <li>
                    <div class="title">{{'Common.Label.status' | translate}}</div>
                    <div class="text" [innerHTML] = 'accountInfo.status | accountStatus'> </div>
                </li>
                <li>
                  <div class="title">{{'Account.Label.accountType' | translate}}</div>
                  <div class="text" [innerHTML] = 'accountInfo.accountType | accountType'> </div>
              </li>

              </ul>
          </div>
      </div>
    </div>
  </div>

  <!-- On Tab -->
  <div class="card tab-box">
    <div class="row user-tabs">
        <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
            <ul class="nav nav-tabs nav-tabs-bottom">
                <li class="nav-item">
                  <a (click)="onTab(0)" [ngClass]="{ 'active' : activeTab.index === 0 }" href="javascript:" data-toggle="tab" class="nav-link">{{'Common.Label.allSubAccount' | translate}}</a>
                </li>

                <li class="nav-item">
                  <a (click)="onTab(1)" [ngClass]="{ 'active' : activeTab.index === 1 }" href="javascript:" data-toggle="tab" class="nav-link">{{'Common.Label.accountDepositMoney' | translate}}</a>
                </li>
                <li class="nav-item">
                  <a (click)="onTab(2)" [ngClass]="{ 'active' : activeTab.index === 2 }" href="javascript:" data-toggle="tab" class="nav-link">
                    {{'Common.Label.accountWithdrawalMoney' | translate}}
                    <!-- <small class="text-danger">(Admin Only)</small> -->
                  </a>
                </li>
                <li class="nav-item">
                  <a (click)="onTab(3)" [ngClass]="{ 'active' : activeTab.index === 3 }" href="javascript:" data-toggle="tab" class="nav-link">{{'Common.Label.deviceInformationLogin' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
  <!-- /On Tab -->

  <!-- Tab 0 -->
  <ng-container *ngIf = "activeTab.index === 0">
    <div class="col-auto float-right ml-auto row col-md-12" style="margin-bottom: 10px;">
      <div style="float: left;"></div>
     <div style="padding-right: 0px">
      <button (click)="newAccount()"  class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [look]="'outline'" style="width: 200px;" style = "float: right;width: 190px;">
        <span class="k-icon k-i-plus-circle margin-top-1px font-size-20px"></span>
        <span class="font-weigh-700 margin-left-5px">{{'Account.Label.newSeniarAccount' | translate}}</span>
      </button>
     </div>
    </div>

    <div class="card-body col-md-12 card tab-box">
      <div class="table-responsive custom-table-select">
          <table datatable [dtOptions]="dtOptions" class="table table-striped custom-table mb-0 datatable">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>{{'Account.Label.accountID' | translate}}</th>
                      <th>{{'Account.Label.accountName' | translate}}</th>
                      <th class="text-center">{{'Account.Label.accountBalance' | translate}}</th>
                      <th class="text-center" width = "150px">{{'Account.Label.accountType' | translate}}</th>
                      <th>{{'Common.Label.status' | translate}}</th>
                      <th>{{'Common.Label.action' | translate}}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of subAccounts;let i = index;">
                      <td class="padding-7px">{{i+1}}</td>
                      <td class="padding-7px">{{item.accountId | account}}</td>
                      <td class="padding-7px">{{item.accountName}}</td>
                      <td class="text-center">{{item.accountBalance | accountBalance: item.currency }} {{item.currency}}</td>
                      <td class="text-center">
                        <div [innerHTML] = 'item.accountType | accountType'>
                        </div>
                      </td>
                      <td class="padding-7px" style="width: 90px;">
                        <div [innerHTML] = 'item.status | accountStatus'>
                        </div>
                      </td>
                      <td class="text-right padding-7px" style="width: 100px;">
                        <div class="dropdown dropdown-action" >
                          <a class="action-icon dropdown-toggle cursor-pointer" data-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right" style="width: 160px;">
                              <a (click)="setting(item)" class="dropdown-item" href="javascript:">
                                <i class="la la-cog font-size-1-50rem"></i>
                                {{'Common.Label.setting' | translate}}
                              </a>

                              <a class="dropdown-item" href="javascript:" (click)="deposit(item)">
                                <i class="pi pi-wallet font-size-1-50rem"></i>
                                {{'Common.Label.depositMoney' | translate}}
                              </a>

                              <a class="dropdown-item" href="javascript:" (click)="withdrawal(item)">
                                <i class="pi pi-wallet font-size-1-50rem"></i>
                                {{'Common.Label.withDrawalMoney' | translate}}
                              </a>

                              <a class="dropdown-item cursor-pointer" href="javascript:" (click)="details(item)">
                                <i class="pi pi-info-circle font-size-1-50rem"></i>
                                {{'Common.Label.details' | translate}}
                              </a>

                              <a class="dropdown-item cursor-pointer" data-toggle="modal" data-target="#delete_overtime" (click)="onSubAccount(item)">
                                <i class="pi pi-users font-size-1-50rem"></i>
                                {{'Account.Label.subSeniarAccount' | translate}}
                              </a>

                              <a class="dropdown-item cursor-pointer" data-toggle="modal" data-target="#delete_overtime" (click)="onSubAccount(item)">
                                <i class="pi pi-lock-open font-size-1-50rem"></i>
                                Reset Password
                              </a>

                          </div>
                      </div>
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </ng-container>
  <!-- /Tab 0 -->


  <!-- Tab 1 -->
  <ng-container *ngIf = "activeTab.index === 1">
    <span>Tab 2</span>
  </ng-container>
  <!-- /Tab 1 -->


  <!-- Tab 1 -->
  <ng-container *ngIf = "activeTab.index === 2">
    <span>Tab 3</span>
  </ng-container>
  <!-- /Tab 1 -->

  <!-- Tab 1 -->
  <ng-container *ngIf = "activeTab.index === 3">
    <div class="card-body padding-0">
      <div class="table-responsive custom-table-select">
          <table datatable [dtOptions]="dtOptions" class="table table-striped custom-table mb-0 datatable">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>{{'MyAccount.Label.os' | translate}}</th>
                      <th>{{'MyAccount.Label.osVersion' | translate}}</th>
                      <th>{{'MyAccount.Label.browser' | translate}}</th>
                      <th>{{'MyAccount.Label.browserVersion' | translate}}</th>
                      <th>{{'MyAccount.Label.device' | translate}}</th>
                      <th>{{'MyAccount.Label.deviceType' | translate}}</th>
                      <th>{{'MyAccount.Label.orientation' | translate}}</th>
                      <!-- <th>NetWork IP</th> -->
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of deviceInfos;let i = index;">
                      <td [width] = "50">{{i+1}}</td>
                      <td [width] = "100">{{item.os}}</td>
                      <td [width] = "100">{{item.os_version}}</td>
                      <td [width] = "60">{{item.browser}}</td>
                      <td [width] = "60">{{item.browser_version}}</td>
                      <td [width] = "60">{{item.device}}</td>
                      <td [width] = "60">{{item.device_type}}</td>
                      <td [width] = "60">{{item.orientation}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </ng-container>
  <!-- /Tab 1 -->

</div>
<!-- /Page Content -->
