<!-- Page Content -->
<div class="content container-fluid" style="padding-top: 0px;">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">{{'MyAccount.Label.MyAccount' | translate}}</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">{{'Common.Label.Dashboard' | translate}}</a></li>
                <li class="breadcrumb-item active">{{'MyAccount.Label.MyAccount' | translate}}</li>
            </ul>
        </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-md-6 d-flex">
      <div class="card profile-box flex-fill">
          <div class="card-body">
              <h3 class="card-title">{{'MyAccount.Label.AccountInformation' | translate}}</h3>
              <ul class="personal-info">
                  <li>
                      <div class="title">{{'Account.Label.AccountName' | translate}}</div>
                      <div class="text">{{accountInfo.accountName}}</div>
                  </li>
                  <li>
                      <div class="title">{{'Account.Label.AccountID' | translate}}</div>
                      <div class="text">{{accountInfo.accountID | account}}</div>
                  </li>
                  <li>
                      <div class="title">{{'Account.Label.AccountBalance' | translate}}</div>
                      <div class="text">{{accountInfo.accountBalance | accountBalance: accountInfo.currency }} {{accountInfo.currency}}</div>
                  </li>

                  <li>
                    <div class="title">{{'Common.Label.Status' | translate}}</div>
                    <div class="text" [innerHTML] = 'accountInfo.status | accountStatus'> </div>
                </li>
                <li>
                  <div class="title">{{'Account.Label.AccountType' | translate}}</div>
                  <div class="text" [innerHTML] = 'accountInfo.accountType | accountType'> </div>
              </li>

              </ul>
          </div>
      </div>
    </div>
  </div>

  <!-- On Tab -->
  <div class="card tab-box">
    <div class="row user-tabs">
        <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
            <ul class="nav nav-tabs nav-tabs-bottom">



                <ng-container *ngIf = "accountInfo.accountType === acountTypeCode.Admin">
                  <li class="nav-item">
                    <a (click)="onTab(0)" [ngClass]="{ 'active' : activeTab.index === 0 }" href="javascript:" data-toggle="tab" class="nav-link">Senair Account</a>
                  </li>
                </ng-container>

                <ng-container *ngIf = "accountInfo.accountType === acountTypeCode.Seniar">
                  <li class="nav-item">
                    <a (click)="onTab(1)" [ngClass]="{ 'active' : activeTab.index === 1 }" href="javascript:" data-toggle="tab" class="nav-link">Master Account</a>
                  </li>
                  <li class="nav-item">
                    <a (click)="onTab(2)" [ngClass]="{ 'active' : activeTab.index === 2 }" href="javascript:" data-toggle="tab" class="nav-link">Agent Account</a>
                  </li>
                </ng-container>

                <ng-container *ngIf = "accountInfo.accountType === acountTypeCode.Master">
                  <li class="nav-item">
                    <a (click)="onTab(3)" [ngClass]="{ 'active' : activeTab.index === 3 }" href="javascript:" data-toggle="tab" class="nav-link">Agent Account</a>
                  </li>
                  <li class="nav-item">
                    <a (click)="onTab(4)" [ngClass]="{ 'active' : activeTab.index === 4 }" href="javascript:" data-toggle="tab" class="nav-link">Member Account</a>
                  </li>
                </ng-container>

                <ng-container *ngIf = "accountInfo.accountType === acountTypeCode.Agent">
                  <li class="nav-item">
                    <a (click)="onTab(5)" [ngClass]="{ 'active' : activeTab.index === 5 }" href="javascript:" data-toggle="tab" class="nav-link">Member Account</a>
                  </li>

                </ng-container>


                <li class="nav-item">
                  <a (click)="onTab(8)" [ngClass]="{ 'active' : activeTab.index === 8 }" href="javascript:" class="nav-link">Transaction History</a>
                </li>

                <li class="nav-item">
                  <a (click)="onTab(9)" [ngClass]="{ 'active' : activeTab.index === 9 }" href="javascript:" class="nav-link">Deposit Cash Out History</a>
                </li>

                <li class="nav-item">
                  <a (click)="onTab(10)" [ngClass]="{ 'active' : activeTab.index === 10 }" href="javascript:" data-toggle="tab" class="nav-link">{{'Common.Label.DeviceInformationLogin' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
  <!-- /On Tab -->

  <!-- Tab 0 -->
  <ng-container *ngIf = "activeTab.index === 0">
    <div class="col-auto float-right ml-auto row col-md-12" style="margin-bottom: 10px;">
      <div style="float: left;"></div>
     <div style="padding-right: 0px">
      <button (click)="newAccount()"  class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [look]="'outline'" style="width: 200px;" style = "float: right;width: 190px;">
        <span class="k-icon k-i-plus-circle margin-top-1px font-size-20px"></span>
        <span class="font-weigh-700 margin-left-5px">{{'Account.Label.NewSeniarAccount' | translate}}</span>
      </button>
     </div>
    </div>

    <div class="card-body col-md-12 card tab-box">
      <div class="table-responsive custom-table-select">
          <table datatable [dtOptions]="dtOptions" class="table table-striped custom-table mb-0 datatable">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>{{'Account.Label.AccountID' | translate}}</th>
                      <th>{{'Account.Label.AccountName' | translate}}</th>
                      <th class="text-center">{{'Account.Label.AccountBalance' | translate}}</th>
                      <th class="text-center" width = "150px">{{'Account.Label.AccountType' | translate}}</th>
                      <th>{{'Common.Label.Status' | translate}}</th>
                      <th>{{'Common.Label.Action' | translate}}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of subAccounts;let i = index;">
                      <td class="padding-7px">{{i+1}}</td>
                      <td class="padding-7px">{{item.accountID | account}}</td>
                      <td class="padding-7px">{{item.accountName}}</td>
                      <td class="text-center">{{item.accountBalance | accountBalance: item.currency }} {{item.currency}}</td>
                      <td class="text-center">
                        <div [innerHTML] = 'item.accountType | accountType'>
                        </div>
                      </td>
                      <td class="padding-7px" style="width: 90px;">
                        <div [innerHTML] = 'item.status | accountStatus'>
                        </div>
                      </td>
                      <td class="text-right padding-7px" style="width: 100px;">
                        <div class="dropdown dropdown-action" >
                          <a class="action-icon dropdown-toggle cursor-pointer" data-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right" style="width: 175px;">
                              <a (click)="setting(item)" class="dropdown-item" href="javascript:">
                                <i class="la la-cog font-size-1-50rem"></i>
                                {{'Common.Label.Setting' | translate}}
                              </a>

                              <a class="dropdown-item" href="javascript:" (click)="withdrawalCashOut(item)">
                                <i class="pi pi-wallet font-size-1-50rem"></i>
                                {{'Account.Label.WithdrawalCashOut' | translate}}
                              </a>

                              <a class="dropdown-item" href="javascript:" (click)="depositMoney(item)">
                                <i class="pi pi-wallet font-size-1-50rem"></i>
                                {{'Account.Label.DepositMoney' | translate}}
                              </a>

                              <a class="dropdown-item cursor-pointer" href="javascript:" (click)="details(item)">
                                <i class="pi pi-info-circle font-size-1-50rem"></i>
                                {{'Common.Label.Details' | translate}}
                              </a>

                              <a class="dropdown-item cursor-pointer" data-toggle="modal" data-target="#delete_overtime" (click)="onSubAccountRouter(item)">
                                <i class="pi pi-users font-size-1-50rem"></i>
                                {{'Account.Label.SubSeniarAccount' | translate}}
                              </a>

                              <a class="dropdown-item cursor-pointer" (click)="resetPassword(item)">
                                <i class="pi pi-lock-open font-size-1-50rem"></i>
                                Reset Password
                              </a>

                          </div>
                      </div>
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </ng-container>
  <!-- /Tab 0 -->


  <!-- Tab 1 -->
  <ng-container *ngIf = "activeTab.index === 8">
    <div class="card-body col-md-12 card tab-box">
      <div class="table-responsive custom-table-select">
          <table datatable [dtOptions]="dtOptions" class="table table-striped custom-table mb-0 datatable">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>{{'Account.Label.Account' | translate}}</th>
                      <th class="text-right">{{'Account.Label.Amount' | translate}}</th>
                      <th class="text-center">{{'Account.Label.Date' | translate}}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of transactionHistorys;let i = index;">
                      <td class="padding-7px">{{i+1}}</td>
                      <td class="padding-7px">{{item.accountId | account}}-{{item.accountName}}</td>
                      <td  class="text-right" >
                        <ng-container *ngIf = "item.transactionType === 'withdrawal'">
                          <i class="pi pi-window-maximize font-size-1-50rem" style="margin-right: 10px;margin-top: 4px; color: red;"></i>
                          <span style="color: red;">-</span>
                        </ng-container>
                        <ng-container *ngIf = "item.transactionType === 'deposit'">
                          <i class="pi pi-window-minimize font-size-1-50rem" style="margin-right: 10px;margin-top: 4px;color: #26af48;"></i>
                        </ng-container>
                        <span [ngStyle]="{'color': item.transactionType === 'withdrawal' ? 'red' : '#26af48' }">
                          {{item.amount | accountBalance: item.currency }} {{item.currency}}
                        </span>

                      </td>
                      <td class="padding-7px text-center">{{item.dateTime}} </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </ng-container>
  <!-- /Tab 1 -->

  <ng-container *ngIf = "activeTab.index === 9">
    <span>Deposit Cash Out</span>
    <div class="card-body padding-0">
      <div class="table-responsive custom-table-select">
          <table datatable [dtOptions]="dtOptions" class="table table-striped custom-table mb-0 datatable">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Deposit Cash Out Account</th>
                      <th>Amount</th>
                      <th>Date</th>

                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of depositCashOutAccount;let i = index;">
                      <td [width] = "50">{{i+1}}</td>
                      <td >{{item.accountID}}-{{item.accountName}}</td>
                      <td style="color: red;">
                        <i class="pi pi-window-maximize font-size-1-50rem" style="margin-right: 10px;margin-top: 4px; color: red;"></i>
                          <span style="color: red;">-</span>
                        {{item.amount}} {{item.currency}}
                      </td>
                      <td >{{item.date}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>

  </ng-container>
  <!-- Tab 1 -->
  <ng-container *ngIf = "activeTab.index === 10">
    <div class="card-body padding-0">
      <div class="table-responsive custom-table-select">
          <table datatable [dtOptions]="dtOptions" class="table table-striped custom-table mb-0 datatable">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>{{'MyAccount.Label.IP' | translate}}</th>
                      <th>{{'MyAccount.Label.Os' | translate}}</th>
                      <th>{{'MyAccount.Label.OsVersion' | translate}}</th>
                      <th>{{'MyAccount.Label.Browser' | translate}}</th>
                      <th>{{'MyAccount.Label.BrowserVersion' | translate}}</th>
                      <th>{{'MyAccount.Label.Device' | translate}}</th>
                      <th>{{'MyAccount.Label.DeviceType' | translate}}</th>
                      <th>{{'MyAccount.Label.Orientation' | translate}}</th>
                      <th>{{'MyAccount.Label.UserAgent' | translate}}</th>
                      <!-- <th>NetWork IP</th> -->
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of deviceInfos;let i = index;">
                      <td [width] = "50">{{i+1}}</td>
                      <td [width] = "80">{{item.ip}}</td>
                      <td [width] = "50">{{item.os}}</td>
                      <td [width] = "100">{{item.osVersion}}</td>
                      <td [width] = "60">{{item.browser}}</td>
                      <td [width] = "60">{{item.browserVersion}}</td>
                      <td [width] = "60">{{item.device}}</td>
                      <td [width] = "60">{{item.deviceType}}</td>
                      <td [width] = "60">{{item.orientation}}</td>
                      <td [width] = "60">{{item.userAgent}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </ng-container>
  <!-- /Tab 1 -->

</div>
<!-- /Page Content -->
